output_files/
db/
incremental_db/
greybox_tmp/

*.rpt
*.summary
*.smsg
*.done
*.log
*.jdi
*.qmsg

*.sof
*.pof
*.jic

*.pin
*.cdf

*.qws

*.qsf
*.qpf

*.bak
*.tmp
*.swp
*~

*.cmp
*.ppf
*.bsf
*.html
*.xml
*.debuginfo

!*.qip

simulation/questa/work/
transcript
*.wlf
*.sft
*.svo

qmegawiz_errors_log.txt
